@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-size: 18px;
  height: 100vh;
  background: #161722;
  color: #cacde8;
  font-family: "Josefin Sans", sans-serif;
}

h1, p, span, button, a, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p, a {
  font-size: 0.9rem;
}

.header {
  width: 100vw;
  height: 32vh;
  background: url("../images/bg-desktop-dark.jpg") no-repeat;
  background-size: cover;
}

.todo-app {
  position: absolute;
  min-width: 43vw;
  margin: 0 auto;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  margin-top: 2rem;
  padding: 0.5rem;
}
.todo-app .todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.todo-app .todo-header h1 {
  font-weight: 700;
  font-size: 2.3rem;
  letter-spacing: 12px;
  color: #fff;
}
.todo-app .todo-header #theme-toggle {
  cursor: pointer;
}
.todo-app .input-el {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  justify-content: space-between;
  background: #25273c;
  padding: 1.3rem 1.3rem;
  border-radius: 5px;
  box-shadow: 0 10px 30px #25273c;
}
.todo-app .input-el form {
  flex: 1;
}
.todo-app .input-el form input[type=text] {
  font-family: "Josefin Sans", sans-serif;
  border: none;
  outline: none;
  font-size: 18px;
  height: inherit;
  background: none;
  color: #cacde8;
}
.todo-app .todos {
  list-style: none;
  margin-top: 1.5rem;
  border: none;
  overflow: hidden;
  background: #25273c;
  box-shadow: 0px 30px 30px #161722;
}
.todo-app .todos .todo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  justify-content: space-between;
  background: #25273c;
  padding: 1.3rem 1.3rem;
  border-radius: 5px;
  border-bottom: 0.2px solid #393a4c;
}
.todo-app .todos .todo .todo-text {
  flex: 1;
}
.todo-app .todos .todo .todo-text.center {
  text-align: center;
}
.todo-app .todos .todo .todo-text.strike {
  color: #cacde8;
  text-decoration: line-through;
  opacity: 0.5;
}
.todo-app .todos .todo .cross > svg {
  display: none;
}
.todo-app .todos .todo .cross > svg:hover > path {
  fill: #cacde8;
}
.todo-app .todos .todo:hover > .cross > svg {
  display: block;
  cursor: pointer;
}
.todo-app .todos .last-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  justify-content: space-between;
  background: #25273c;
  padding: 1.3rem 1.3rem;
  border-radius: 5px;
}
.todo-app .todos .last-tab p {
  color: #4d5066;
}
.todo-app .todos .last-tab .filters {
  flex: 1;
}
.todo-app .todos .last-tab .filters ul {
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-app .todos .last-tab .filters ul li {
  padding: 0 0.5rem;
}
.todo-app .todos .last-tab .filters ul li button {
  background: none;
  apperance: none;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  color: #4d5066;
  font-weight: 700;
}
.todo-app .todos .last-tab .filters ul li button.active {
  color: #3a7bfd;
}
.todo-app .todos .last-tab .filters ul li button:hover {
  color: #cacde8;
}
.todo-app .todos .last-tab #clear-completed:hover {
  cursor: pointer;
  color: #cacde8;
}

.check {
  border: 0.5px solid #4d5066;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}
.check svg {
  display: none;
}
.check.first-check svg {
  display: none;
}
.check.complete {
  background: linear-gradient(#57ddff, #c058f3);
}
.check.complete svg {
  display: block;
}

.filters-mobile {
  display: none;
}

@media screen and (max-width: 475px) {
  .last-tab .filters {
    justify-content: space-between;
    display: none;
  }

  .filters-mobile {
    box-shadow: 0px 30px 30px #161722;
    display: block;
    margin-top: 1rem;
    column-gap: 1rem;
    background: #25273c;
    padding: 1rem 0.9rem;
    border-radius: 5px;
  }
  .filters-mobile ul {
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filters-mobile ul li {
    padding: 0 0.5rem;
  }
  .filters-mobile ul li button {
    background: none;
    apperance: none;
    border: none;
    font-family: "Josefin Sans", sans-serif;
    color: #4d5066;
    font-weight: 700;
  }
  .filters-mobile ul li button.active {
    color: #3a7bfd;
  }
  .filters-mobile ul li button:hover {
    color: #cacde8;
  }

  .todo-app .todo-header h1 {
    font-size: 2rem;
    letter-spacing: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
