// @import url(_header.scss);
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
// @import 'color-themes';
// varibales
$bright-blue: hsl(220, 98%, 61%);
$check-background:linear-gradient(hsl(192, 100%, 67%) ,hsl(280, 87%, 65%));

// light theme

// $very-dark-blue:hsl(235, 21%, 11%);
// $very-dark-desaturated-blue:hsl(235, 24%, 19%);
// $light-grayish-blue:hsl(234, 39%, 85%);
// $dark-garyish-blue:hsl(233, 14%, 35%);
// $very-dark-grayish-blue:hsl(237, 14%, 26%);

// html{
    $bg:url('../images/bg-desktop-dark.jpg');
    $font:'Josefin Sans', sans-serif;
    //$very-light-gray:hsl(0, 0%, 98%);
    //$very-light-grayish-blue:hsl(236, 33%, 92%);
    //$light-grayish-blue:hsl(233, 11%, 84%);
    //$dark-grayish-blue:hsl(236, 9%, 61%);
    //$very-dark-grayish-blue:hsl(235, 19%, 35%)
// }


     //$bg:url('../images/bg-desktop-dark.jpg');
     //$font:'Josefin Sans',sans-serif;
     $very-light-gray:hsl(235, 21%, 11%);
     $very-light-grayish-blue:hsl(235, 24%, 19%);
     $light-grayish-blue:hsl(234, 39%, 85%);
     $dark-grayish-blue:hsl(233, 14%, 35%);
     $very-dark-grayish-blue:hsl(237, 14%, 26%);


*,*::after,*::before{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-size: 18px;
    height:100vh;
    background:$very-light-gray;
    color: $light-grayish-blue;
    font-family: $font;
}
h1,p,span,button,a,li{
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
}
p,a{
    font-size: .9rem;
}
// mixins
@mixin center {
    display: flex;
    justify-content: center;
    align-items:center;
}
@mixin centerGrid{
    display:grid;
    place-items: center;
}
@mixin card(){
   @include center();
    column-gap: 1.5rem;
    justify-content: space-between;
    background: $very-light-grayish-blue;
    padding:1.3rem 1.3rem;   
    border-radius: 5px;
}
@mixin state{
    button{
        background:none;
        apperance:none;
        border:none;
        font-family:$font;
        color:$dark-grayish-blue;
        font-weight: 700;

        &.active {
            color:$bright-blue;
        }
        &:hover{
            color:$light-grayish-blue
        }
    }
}
@mixin boxshadow{
    box-shadow: 0px 30px 30px $very-light-gray;
}
// mixins
.header{
    width: 100vw;
    height: 32vh;
    background:$bg no-repeat;
    background-size: cover;
}
.todo-app{
    position: absolute;
    min-width: 43vw;
    margin: 0 auto;
    top:15%;
    left: 50%;
    transform: translate(-50%,-15%);
    margin-top: 2rem;
    padding: .5rem;

    .todo-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        h1{
            font-weight: 700;
            font-size: 2.3rem;
            letter-spacing: 12px;
            color: #fff;
        }
        #theme-toggle{
            cursor: pointer;
        }
    }
    .input-el{
        margin-top: 2rem;   
        @include card();
        box-shadow: 0 10px 30px $very-light-grayish-blue;
        form{
            flex: 1;
            input[type='text']{
                font-family: 'Josefin Sans', sans-serif;
                border: none;
                outline: none;
                font-size: 18px;
                height: inherit;
                background: none;
                color:$light-grayish-blue;
            }
        }
    }
    .todos{
        list-style:none;
        margin-top: 1.5rem;
        //border-radius: 5px;
        border:none;
        overflow: hidden;
        background: $very-light-grayish-blue;
        @include boxshadow();
        &> ul{
            // max-height: 200px;
            // overflow-y:scroll;
        }
        .todo{
            @include card();
            border-bottom: .2px solid $very-dark-grayish-blue;
    
            .todo-text{
                flex: 1;
                &.center{
                    text-align: center;
                }
                &.strike{
                    color:$light-grayish-blue;
                    text-decoration: line-through;
                    opacity: 0.5;
                }
            }
            .cross>svg{
                display: none;
                &:hover>path{
                    fill:$light-grayish-blue;
                }
            }
            &:hover > .cross>svg{
                display: block;
                cursor: pointer;
            }
        }
        .last-tab{
            p{
                color:$dark-grayish-blue;
            }
            @include card();
            .filters{
                flex:1;
                ul{
                    margin: 0 auto;
                    list-style: none;
                    @include center();
                    li{
                        padding: 0 .5rem;
                        @include state();
                    }
                }
            }
            #clear-completed{
                &:hover{
                    cursor: pointer;
                    color: $light-grayish-blue;
                }
            }
        }

    }

}


.check{
    border:.5px solid $dark-grayish-blue;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index:1000;
    svg{
        display: none;
    }

    &.first-check{
        svg{
            display: none;
        }
    }
    &.complete{
        background:$check-background;
        svg{
            display: block;
        }
    }
    // &::before,&::after{
    //     content:'';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     right: 0;
    //     z-index: -1;
    //     border-radius:100%;
    // }
    // &::before{
    //     transform: scale(1.15);
    //     background: $very-dark-grayish-blue;
    // }
    // &:hover::before{
    //     background: $check-background;
        
    // }
    // &::after{
    //     z-index: -1;
    //     transform: scale(1.1);
    //     background: $very-light-gray;
    // }
    // &:focus::after{
    //     background:$check-background;
    // }

}
.filters-mobile{
    display: none;
}

@media screen and (max-width:475px) {
   .last-tab{
       .filters{
          justify-content: space-between;
           display: none;
       }
   }
    .filters-mobile{
        @include boxshadow();
        display: block;
           margin-top: 1rem;
           column-gap: 1rem;
           background: $very-light-grayish-blue;
           padding:1rem .9rem;
           border-radius: 5px;
       ul{
           margin: 0 auto;
           list-style: none;
           @include center();
           li{
               padding: 0 .5rem;
               @include state();
           }
       }
   }
    .todo-app .todo-header h1{
        font-size:2rem;
        letter-spacing:10px;
    }
}

// extra classes
